HOST=0.0.0.0
PORT=8787
TUYA_API_BASE_URL=https://openapi.tuyain.com
TUYA_CLIENT_ID=YOUR_TUYA_ACCESS_ID
TUYA_CLIENT_SECRET=YOUR_TUYA_ACCESS_SECRET
TUYA_INFRARED_ID=d7629f91c10f8aaa6dbtaw
TUYA_AC_REMOTE_ID=d7c7ddecd3c98a5a00nezc
